<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/mobile_mall</property>
		<property name="connection.username">root</property>
		<property name="connection.password">Lu121314</property>
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="show_sql">true</property>
		
		<mapping class="com.mindtree.mcse.mobilemall.domain.hibernateannotation.HItem"></mapping>
		<mapping class="com.mindtree.mcse.mobilemall.domain.hibernateannotation.HReview"></mapping>
		<mapping class="com.mindtree.mcse.mobilemall.domain.hibernateannotation.HProduct"></mapping>
	</session-factory>
</hibernate-configuration>
